{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/jelszocsere">Jelszó megváltoztatása</a>
            <a href="/allomas">Állomás hozzáadása</a>
            <a href="/vonal">Vonal hozzáadása</a>
            <a href="/kijelentkezes">Kijelentkezés</a>
        </div>

        <div id="centerscreen">
            {% for message in messages %} 
                <p><h3 class="error">{{message}}</h3></p>
            {% endfor %}
            
            <form action="/mappa/" method="POST"> 
                <table>
                    <tr>
                        <td><label for="allomas">Állomásnév</label></td>
                        <td><input type="text" id="allomas" name="allomas"></td>
                        <td>
                            <label>A pontos állomásnév megadása szükséges! Kötőjeles állomásnév esetén alsóhúzással kell elválasztani! pl.: Celldömölk, Gecse_Gyarmat</label>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="allomaskoz">Állomásköz</label></td>
                        <td><input type="text" id="allomaskoz" name="allomaskoz"></td>
                        <td><label>Az állomásközt kötőjellel kell jelölni! Irány nyugat-kelet. pl.: Celldömölk-Pápa, Celldömölk-Gecse_Gyarmat</label></td>
                    </tr>
                    <tr>
                        <td><label for="szelvenyszam">Szelvényszám</label></td>
                        <td><input type="text" id="szelvenyszam" name="szelvenyszam"></td>
                        <td><label>Vonalszám megadása KÖTELEZŐ! pl.: 100 vagy 100-150</label></td>
                    </tr>
                    <tr>
                        <td><label for="vonal">Vonal</label></td>
                        <td><input type="text" id="vonal" name="vonal"></td>
                        <td><label>pl.:20</label></td>
                    </tr>
                    <tr>
                        <td><label for="egyseg">Szakág</label></td>
                        <td>
                            <select id="egyseg" name = "egyseg">
                                <option value="" selected disabled hidden>Válassz egyet</option>
                                <option value=""></option>
                                {% for e in egysegek %}
                                    <option value='{{e.megnevezes}}'>{{e.megnevezes}}</option>
                                {% endfor %}
                            </select></td>
                    </tr>
                    <tr>
                        <td><label for="dokumentum">Dokumentum típusa</label></td>
                        <td>
                            <select id="dokumentum" name = "dokumentum">
                                <option value="" selected disabled hidden>Válassz egyet</option>
                                <option value=""></option>
                                {% for d in dokumentumok %}
                                    <option value='{{d.megnevezes}}'>{{d.megnevezes}}</option>
                                {% endfor %}
                            </select></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit" id="loginbutton" name="szuro" value="{{vonal}}">Szűrés</button></td>
                    </tr>
                </table>
                {% csrf_token %}
                {{ form }}
            </form>
        </div>

    {% else %}
        <div class="navbar">
            <nav>
                <a href="/bejelentkezes">Bejelentkezés</a>
            </nav>
        </div>
    {% endif %}

{% endblock %}